
<h1>Ajouter une récompense</h1>

<form ng-submit="submitForm()">
    <div class="row">
        <div input-field>
            <label for="designation">Description</label>
            <input id="designation" type="text" ng-model="recompense.designation" />
        </div>
        <div input-field>
            <label for="quantite">Quantité</label>
            <input id="quantite" type="number" ng-model="recompense.quantite" min="1" />
        </div>
        <div input-field>
            <label for="image">Image : </label>
            <input id="image" type="file" ng-model="recompense.image" />
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light right" type="submit">Ajouter</button>
    </div>
</form>