<h1>Ajouter une récompense</h1>

<!-- Contenu -->
<div class="row">
    <div class="col m3">
        <ul class="collection with-header">
            <li class="collection-header">Liste de récompense</li>
            <a class="collection-item" ng-repeat="r in recompenses" href="#" ng-click="changeRecompense(r.id, $event)">
                {{r.designation}}
            </a>
        </ul>
    </div>
    <div class="col m8 offset-m1">
        <form ng-submit="submitForm()">
            <div class="row">
                <div input-field>
                    <label for="designation">Description</label>
                    <input id="designation" type="text" ng-model="recompense.designation" />
                </div>
                <div input-field>
                    <label for="quantite">Quantité</label>
                    <input id="quantite" type="number" ng-model="recompense.quantite" min="1" />
                </div>
                <div input-field>
                    <label for="image">Image : </label>
                    <input id="image" type="file" ng-model="recompense.image" />
                </div>
            </div>

            <div class="row">
                <div class="left">
                    <input type="button" class="btn waves-effect waves-light" ng-click="displayModal()" value="Supprimer" />
                </div>
                <div class="right">
                    <input type="button" class="btn waves-effect waves-light" ng-click="resetForm()" value="Reset" />
                    <input type="submit" class="btn waves-effect waves-light" value="Ajouter" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modale de confirmation de suppression -->
<div id="mdl-suppr-recompense" class="modal">
    <div class="modal-content">
        <h4>Supprimer la récompense</h4>
        <p>Etes-vous sur de vouloir supprimer la récompense : <span class="bold">{{recompense.designation}}</span> ?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="supprimerRecompense(recompense.id)" >J'accepte</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" >Je refuse</a>
    </div>
</div>