
<h1>Ajouter une récompense</h1>

<div class="row">
    <div class="col m3">
        <ul class="collapsible" data-collapsible="accordion" watch>
            <li ng-repeat="r in recompenses" ng-click="changeRecompense(r.id)">
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{r.designation}}</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
    <div class="col m8 offset-m1">
        <form ng-submit="submitForm()">
            <div class="row">
                <div input-field>
                    <label for="designation">Description</label>
                    <input id="designation" type="text" ng-model="recompense.designation" />
                </div>
                <div input-field>
                    <label for="quantite">Quantité</label>
                    <input id="quantite" type="number" ng-model="recompense.quantite" min="1" />
                </div>
                <div input-field>
                    <label for="image">Image : </label>
                    <input id="image" type="file" ng-model="recompense.image" />
                </div>
            </div>
            <div class="row right">
                <input type="button" class="btn waves-effect waves-light" onclick="resetForm()" value="Reset" />
                <input type="submit" class="btn waves-effect waves-light" value="Ajouter" />
            </div>
        </form>
    </div>
</div>